/* ==========================
   APP WRAPPER
========================== */

.app {
  width: 100%;
  min-height: 100svh;

  display: flex;

  justify-content: center;
  align-items: center;
}

/* ==========================
   DESKTOP POSITIONING
========================== */

@media (min-width: 768px) {

  .app {
    padding: 32px;
  }

}

@media (min-width: 1440px) {

  .app {
    padding: 48px;
  }

}
