/* ==================================
APP LAYOUT
================================== */

.app {

  width: 100%;

  min-height: 100dvh;

  display: flex;

  justify-content: flex-start;

  align-items: stretch;

  position: relative;

  overflow: hidden;
}

/* ==================================
PAGE SYSTEM
================================== */

.page-view {

  display: none;

  flex: 1;

  min-width: 0;

  min-height: 100dvh;

}

.page-view.active {

  display: flex;

}

/* ==================================
CALCULATOR
================================== */

#calculatorView {

  flex-direction: column;

}

/* ==================================
CONVERTER
================================== */

#converterView {

  flex-direction: column;

}

/* ==================================
CURRENCY
================================== */

#currencyView {

  flex-direction: column;

}

/* ==================================
DESKTOP
================================== */

@media (min-width:1200px) {

  .app {

    flex-direction: row;

    align-items: stretch;

    justify-content: flex-start;

  }

}